<div class="container main-container">
    <h1>Canal de YouTube</h1>
    <hr />
    <div class="card-columns" *ngIf="videos.length > 0">
        <div class="card animate__animated animate__fadeIn animate__fast" *ngFor="let video of videos">
            <img class="card-img-top img-fluid" [src]="video.thumbnails.high.url" [alt]="video.title">
            <div class="card-body">
                <h5 class="card-title">{{ video.title }}</h5>
                <p class="card-text"> 
                    <strong>Autor:</strong> {{ video.channelTitle }}
                </p>
                <p class="card-text">
                    <strong>Publicado:</strong> {{ video.publishedAt | date }}
                </p>
                <button (click)="verVideo(video)" type="button" class="btn btn-outline-primary btn-block">Ver vídeo...</button>
            </div>
        </div>
    </div>
    <button (click)="cargarMasVideos()" type="button" class="btn btn-outline-primary btn-block">Cargar más vídeos</button>

    <!-- Modal -->
    <div class="modal fade" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content" *ngIf="videoSeleccionado">
                <div class="modal-header">
                    <h5 class="modal-title">{{ videoSeleccionado.title }}</h5>
                </div>
                <div class="modal-body">
                    <iframe width="100%" height="400" [src]="videoSeleccionado.resourceId.videoId | videoYoutube" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                    <button (click)="cerrarModal()" type="button" class="btn btn-secondary">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>